@model IEnumerable<Domain.Entites.AdmittedStudent>
@{
    ViewData["Title"] = "Students";
}


<div class="card">
    <div class="card-header bg-primary text-white">
        <i class="fa fa-book text-white"></i> STUDENT LIST
    </div>
    <div class="card-body">
        <a class="text-decoration-none mb-3 btn btn-info btn-sm" asp-action="Create"><i class="fa fa-plus text-white"></i> Add new</a>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <td>#</td>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Age)</th>
                        <th>@Html.DisplayNameFor(model => model.Sex)</th>
                        <th>@Html.DisplayNameFor(model => model.Class)</th>
                        <th>@Html.DisplayNameFor(model => model.RollNo)</th>
                        <th><span class="float-left">ACTION</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="@("~/Uploads/"+item.Image)" asp-append-version="true" class="img-fluid" width="80" height="80" /></td>
                            <td align="left">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td align="left">@Html.DisplayFor(modelItem => item.Age)</td>
                            <td align="left">@Html.DisplayFor(modelItem => item.Sex)</td>
                            <td align="left">@Html.DisplayFor(modelItem => item.Class)</td>
                            <td align="left">@Html.DisplayFor(modelItem => item.RollNo)</td>
                            <td>
                                <div class="float-left">
                                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-info btn-sm mr-3"><i class="fa fa-edit text-white"></i> Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger btn-sm"><i class="fa fa-trash text-white"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>